@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css?_cacheOverride=1616950576655");
*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color:#3B82F6;
    --secondary-color:#f4f9f9;
    --dark-blue: #2563EB;
    --light-blue:#60A5FA;
    --white:#fff;
    --default-margin:1rem;
    --default-padding:0.5rem 1rem;
    --default-fontsize:1rem;
    --medium-fontsize:1.25rem;
}

body{
    font-family: 'Roboto', sans-serif;
    /* display: flex;
    flex-direction: column; */

    display: grid;
    grid-template-areas:
    "header header header"
    "nav main main"
    "nav main main";
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}


.icons{
    max-width: 1.5rem;
}

/* ==================
    HEADER AREA 
    ================= */

    header{
        display: flex;
        justify-content: space-between;
        background-color: var(--primary-color);
        color: var(--white);
        width: 100%;
        grid-area: header;
    }
    
    header div{
        display: flex;
        align-items: center;
    }

    header a{
        color: var(--white);
    }
    
    .header-icon{
        max-width: 3rem;
    }
    
    .header-nav{
        display: flex;
        margin: var(--default-margin);
    }
    
    .header-nav > li{
        padding: var(--default-padding);
    }


    /* ===================
        SIDEBAR NAVIGATION
        ================== */
    
    nav{
        grid-area: nav;
        margin: var(--default-margin);
        font-size: var(--medium-fontsize);
    }

    .nav-sidebar > ul >li{
        padding: var(--default-padding);
    }

    /* =================================
                 MAIN CONTENT
        ================================ */

    main{
        grid-area:main;
        display: flex;
        flex-direction: column;
    }

    main div{
        margin: var(--default-margin);
    }

    /* ======Avatar Section========= */
    #avatar{
        margin: var(--default-margin);
        padding: var(--default-padding);
    }

    #avatar > img{
        margin: var(--default-margin);
    }

    /* ==========Alert Section====== */
    #alert{
        padding: var(--default-padding);
    }


    /* =======Badge Section========= */
    
    /* =======Button Secction======= */
