@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color:#3B82F6;
    --secondary-color:#f4f9f9;
    --dark-blue: #2563EB;
    --light-blue:#60A5FA;
    --white:#fff;
    --default-margin:1rem;
    --default-padding:0.5rem 1rem;
    --default-fontsize:1rem;
    --medium-fontsize:1.25rem;
}

body{
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--white);
}

button{
    background-color: none;
    margin: var(--default-margin);
    padding: var(--default-padding);
    border: none;
    border-radius: 1rem;
    outline: none;
}

.icons{
    max-width: 1.5rem;
}


/* ==================
    HEADER AREA 
    ================= */

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--white);
    width: 100%;
}

header div{
    display: flex;
    align-items: center;
}

.header-icon{
    max-width: 3rem;
}

.header-nav{
    display: flex;
    margin: var(--default-margin);
}

.header-nav > li{
    padding: var(--default-padding);
}

/* =====================
    MAIN CONTENT
    ==================== */

    main{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .img-banner{
        max-width:35%;
        margin: var(--default-margin);
    }

    .info-banner{
        margin: var(--default-margin);
        max-width:50%;
    }

    .info-banner > h2{
        color: var(--primary-color);
    }

    .btn-primary{
        background-color: var(--light-blue);
        color: var(--white);
        font-size: var(--medium-fontsize);
    }

/* ==================
    FOOTER AREA
    ================= */

footer{
    background-color:var(--primary-color);
    color: var(--white);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: var(--default-padding);
    text-align: center;
    font-size: var(--default-fontsize);
}