@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');


:root{
    --primary-color:#3B82F6;
    --secondary-color:#f4f9f9;
    --dark-blue: #2563EB;
    --light-blue:#60A5FA;
    --white:#fff;
    --default-margin:1rem;
    --default-padding:0.5rem 1rem;
    --default-fontsize:1rem;
    --medium-fontsize:1.25rem;
}


/* =========Avatar=========== */
.img-avatar{
   border-radius: 1rem;
}

.img-avatar-circle{
    border-radius: 6rem;
}

.large{
    max-width: 10rem;
}

.medium{
    max-width:7rem;
}

.small{
    max-width: 5rem;
}

/* =========Alert============= */
.alert{
    position: relative;
    padding: var(--default-padding);
    margin: var(--default-margin);
    background-color: var(--light-blue);
    text-align: center;
    width:50%;
    color: var(--white);
    border-radius: 0.5rem;
}

.alert-close{
    position: absolute;
    top: 0;
    right: 0;
}

.alert-primary{
    color:#084298;
    background-color: #cfe2ff;
    border: 0.1rem solid #084298;
}

.alert-success{
    color: #0f5132;
    background-color: #d1e7dd;
    border: 0.1rem solid #0f5132;
}

.alert-danger{
    color: #842029;
    background-color: #f8d7da;
    border:0.1rem solid #842029;
}

.alert-warning{
    color: #664d03;
    background-color: #fff3cd;
    border:0.1rem solid #664d03;
}

.alert-info{
    color: #055160;
    background-color: #cff4fc;
    border:0.1rem solid #055160;
}



/* ============ Badge============== */
.bg-pill{
    color: #0f5132;
    background-color: #d1e7dd;
    border: 0.1rem solid #0f5132;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}

.bg-icon{
    color:var(--dark-blue);
}

.bg-btn{
    background-color:#dc3545;
    padding: 0.2rem;
}


/* ============Button============= */
.btn{
    padding: 0.5rem;
    margin: var(--default-margin);
    border: none;
    border-radius: 0.25rem;
    outline:none;
    color: var(--white);
    background-color: #000;
    font-size:1rem;
}

.btn-primary{
    color: var(--white);
    background-color: var(--primary-color);
}

.btn-secondary{
    color: var(--primary-color);
    background-color: var(--white);
    border: 1px solid var(--primary-color);
}

.btn-icon{
    color:  #084298;
    background-color: #cfe2ff;
}

.btn-icon > i{
    margin: 0rem 0.25rem;
}

.btn-large{
    font-size:2rem;
}

.btn-small{
    font-size: 0.5rem;
}